
body{
    background-image: url("./images/backgroung-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    justify-content: center;
}


.logo{
    width: 30%;
    height: auto;
}
